body {
  font-family: sans-serif;
}

td {
  padding: 0px;
  vertical-align: top;
  font-size: 7pt;
}

td.header {
  font-weight: bold;
  font-size: 11pt;
  text-align: center;
}

td.address {
  text-align: center;
  font-size: 6pt;
}

td.importantValue {
  font-size: 11pt;
  font-weight: bold;
}

td.smallPrint {
  font-size: 6pt;
}
